@import '~@/styles/config/index.less';
@import '~@/styles/mixin/index.less';

.container {
  background-color: @sider-bg-color;
  width: 50px;
  height: 100%;
  .flex-between;
  flex-direction: column;
}

.top,
.bottom {
  .flex-start;
  flex-direction: column;
}

.icon {
  width: 40px;
  height: 40px;
}
